.Forecast {
  color: gray;
}

.Forecast h1 {
  font-weight: bold;
}

.Forecast ul {
  margin: 0;
  padding: 0;
}

.Forecast li {
  list-style: none;
}

.Forecast .today-icon {
  height: 64px;
  display: inline-flex;
  margin-bottom: 35px;
  margin-top: 12px;
}
